- let siteName = "Room homepage";

-
    const pages = [
        {
            title: "Home",
            url: "#"
        },
        {
            title: "Shop",
            url: "#"
        },
        {
            title: "About",
            url: "#"
        },
        {
            title: "Contact",
            url: "#"
        }
    ];