.main-header{
  padding: 2.8rem 1.6rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background: none;

  @media screen and (min-width: 1024px) {
    padding: 3.75rem;
    display: flex;
  }
}